<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body>
{{#logged_in}}
Welcome {{email}}
<a href = '/catch'>Catch some pokemans?</a>
<a href = '/logout'> log out?</a>
{{#info}}
{{name}}
{{dex}}
<img src = {{sprite}}>
{{/info}}

<!-- grab the id num when you grab the captured pokemon for the table, makes it easier to delete/manipulate. -->
{{/logged_in}}

{{^logged_in}}
<a href = "/signup">Sign up/Log in</a>
{{/logged_in}}
</body>
<script src = '/jquery.js'></script>
<script src = '/script.js'></script>
</html>


<!-- Login/Signup -->
<!-- Title -->
<!-- Photos -->


<!-- if logged in -->
<!-- log out -->
<!-- <a href = "/logout">Log out</a> -->
<!-- your pokemans/catch new -->
<!-- your battles/catch new -->
<!-- If feasible, pokemon powerup and evolution -->
