<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <!-- Title -->
  <div class = container>
    {{#logged_in}}
    <div class = heads>
      <p id = 'welcome'>Welcome {{email}}</p>
      <a href = '/logout' id = 'logout'> log out?</a>
    </div>
    <br>
    <h1 class = 'front-title'>Pokemon Trivia Catch!</h1>
    <a href = '/catch' id = 'catch-link'>Catch some pokemans?</a>
    <div id = 'display'>
      <div class = 'row' id = 'column titles'>
        <div class = col-md-3>
          Name
        </div>
        <div class = col-md-3>
          Pokedex ID
        </div>
        <div class = col-md-3>
          Image
        </div>
        <div class = col-md-3>
          Type(s)
        </div>
      </div>
      {{#info}}
      <div class = "row">
        <div class = "col-md-3 cell">
          <p class = info>{{name}}</p>
        </div>
        <div class = "col-md-3 cell">
          <p class = info id = dexnum>{{dex}}</p>
        </div>
        <div class = "col-md-3 cell">
          <img src = {{sprite}} class = 'sprite'>
        </div>
        <div class = "col-md-3 cell">
          <p class = info>{{types}}</p>
        </div>
      </div>
      {{/info}}
    </div>

    <!-- grab the id num when you grab the captured pokemon for the table, makes it easier to delete/manipulate. -->
    {{/logged_in}}

    {{^logged_in}}
    <h1 class = 'front-title'>Pokemon Trivia Catch!</h1>
    <a href = "/signup" id = 'signlog'>Sign up/Log in</a>
    <h3 id = instructions>Do you think you have what it takes to be a Pokemon master? Answer poketrivia questions to prove your knowledge and catch new and exciting pokemon!</h3>
    {{/logged_in}}
  </div>
</body>
<script src = '/jquery.js'></script>
<script src = '/script.js'></script>
</html>


<!-- Login/Signup -->
<!-- Title -->
<!-- Photos -->


<!-- if logged in -->
<!-- log out -->
<!-- <a href = "/logout">Log out</a> -->
<!-- your pokemans/catch new -->
<!-- your battles/catch new -->
<!-- If feasible, pokemon powerup and evolution -->
