
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <a href = "/" id = 'log-sign-back'>Back</a>
  <p class = logsignname>Sign Up</p>
  <form id = "signUp">
    <input id= "email" placeholder="Email">
    <input id = "password" placeholder="Password">
    <button id="submit" type="submit">Submit</button>
  </form>
  <p class = logsignname>Log In</p>
  <form id = "logIn">
    <input id= "logemail" placeholder="Email">
    <input id = "logpassword" placeholder="Password" type = 'password'>
    <button id="submit" type="submit">Submit</button>
  </form>
</body>
<script src = '../jquery.js'></script>
<script src = '../script.js'></script>
</html>
