<!-- Pokemon catch/trivia page -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body>
<button id = 'easy'>Easy</button>


<button>Medium</button>

<button>Hard</button>
<br>
<img src = "" id = "sprite">
<div id = quizWindow>
  <h3 id = questionWindow></h3>
  <form id = answerWindow>
    <input id = answerInput>
    <button id="answerSubmit" type="submit">Submit</button>
  </form>
  <h5 id = questionTracker>1/5</h5>
</div>

</body>
<script src = '/jquery.js'></script>
<script src = '/catcher.js'></script>
</html>

<!--
  $('body').append('<div id = quizWindow>');
  $('#quizWindow').append('<h3 id = questionWindow>');
  $('#quizWindow').append('<form id = answerWindow>');
  $('#answerWindow').append('<input id = answerInput>')
  $('#answerWindow').append('<button id="answerSubmit" type="submit">Submit</button>') -->
