<!-- Pokemon catch/trivia page -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class = container>
    <div class = 'question-buttons'>
      <button id = 'easy'>A wild Pokemon appeared!</button>
    </div>
    <a href = "/" id = 'catch-back'>Run away!</a>
    <br>
    <div id = 'sprite-box'>
      <img src = "" id = "sprite">
    </div>
    <div id = quizWindow>
      <h3 id = questionWindow></h3>
      <form id = answerWindow>
        <input id = answerInput>
        <button id="answerSubmit" type="submit">Submit</button>
      </form>
      <h5 id = correctTracker>Correct: 0</h5>
      <h5 id = questionTracker>Question: 1/5</h5>
    </div>
  </div>
</body>
<script src = '/jquery.js'></script>
<script src = '/catcher.js'></script>
</html>

<!--
  $('body').append('<div id = quizWindow>');
  $('#quizWindow').append('<h3 id = questionWindow>');
  $('#quizWindow').append('<form id = answerWindow>');
  $('#answerWindow').append('<input id = answerInput>')
  $('#answerWindow').append('<button id="answerSubmit" type="submit">Submit</button>') -->
